language: python
services:
  - postgresql
python:
  - 2.7
install:
  - pip install -r dev-requirements.txt
before_test:
  - cp capomastro/local_settings.py.example capomastro/local_settings.py
  - psql -c 'create database capomastro;' -U postgres
  - sed -i -e 's/getpass\.getuser()/\"postgres\"/g' capomastro/local_settings.py:q
  - python manage.py syncdb --migrate --noinput
script:
  - python manage.py test
